.ios, .md {
 
    login-page {
 
        ion-content {
            background-color: map-get($colors, secondary);
        }
 
        scroll-content {
            display: flex;
            flex-direction: column;
        }
 
        ion-row {
            align-items: center;
            text-align: center;
        }
 
        ion-item {
            border-radius: 30px !important;
            padding-left: 10px !important;
            margin-bottom: 10px;
            background-color: #f6f6f6;
            opacity: 0.7;
            font-size: 0.9em;
        }
 
        ion-list {
            margin: 0;
        }
 
        .login-logo {
            flex: 2;
        }
 
        .login-form {
            flex: 1;
        }
 
        .create-account {
            color: #FFFFFF;
            text-decoration: underline;
			border-radius: 60px;
			padding: 20px 75px;
			font-size: 0.9em;
            background: #2E64FE;
			
			border: 1px solid #fff;
        }
 
        .login-button {
			color: #FFFFFF;
            border-radius: 60px;
			padding: 20px 120px;
            font-size: 0.9em;
            background-color: #FE2E2E;
            border: 1px solid #fff;
        }
		
		.fullscreen {
		width: 60%;
		height: 80%;
		}
		
		
 
    }
 
}